.header {
    position: absolute;
    top: 24px;
    z-index: 5;
    width: 100%;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  .header__logo {
    width: 120px;
  }
  .header__cart:hover {
    color: var(--orange);
  }
  .header__cart-icon {
    width: 20px;
    height: 20px;
  }
  
  @media (min-width: 620px) {
    .header {
      top: 40px;
    }
    .header__logo {
      width: 164px;
    }
  }