.hero {
    background: linear-gradient(47deg, #eb8a14 0%, #ecd55a 100%);
    border-radius: 0 0 16px 16px;
    margin-bottom: 43px;
  }
  .hero__container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 212px;
  }
  .hero__container::after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: -43px;
    right: calc(var(--offset-container) + 7px);
    width: calc(100vw / (320 / 261));
    height: calc(100vw / (320 / 230));
    max-width: 382px;
    max-height: 337px;
    background-image: url(./../images/cheese-slice-of-pizza.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .hero__content {
    position: relative;
    z-index: 4;
    max-width: 300px;
  }
  .hero__title {
    margin-bottom: 12px;
    font-weight: 900;
    font-size: 38px;
    line-height: 1;
  }
  .hero__tagline {
    margin-bottom: 24px;
    padding-left: 32px;
    font-weight: 400;
    font-size: 14px;
    background-image: url(./../images/delivery.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;
  }
  .hero__order {
    display: block;
    max-width: fit-content;
    background-color: var(--light);
    font-size: 14px;
    line-height: 36px;
    color: var(--orange);
  }
  
  @media (min-width: 620px) {
    .hero {
      margin-bottom: 60px;
      border-radius: 0 0 32px 32px;
    }
    .hero__container {
      padding-top: 116px;
      padding-bottom: 90px;
    }
    .hero__container::after {
      bottom: -60px;
      right: calc(var(--offset-container) + 10px);
    }
    .hero__content {
      max-width: 544px;
    }
    .hero__title {
      margin-bottom: 24px;
      font-size: 64px;
    }
    .hero__tagline {
      margin-bottom: 50px;
      padding-left: 32px;
      font-size: 20px;
    }
    .hero__order {
      font-size: 20px;
    }
  }
  
  @media (min-width: 860px) {
    .hero {
      margin-bottom: 82px;
    }
    .hero__container {
      padding-top: 126px;
      padding-bottom: 80px;
    }
    .hero__container::after { 
      bottom: -82px;
      right: calc(var(--offset-container) - 7px);
      max-width: 566px;
      max-height: 499px;
    }
  }
  
  @media (min-width: 1140px) {
    .hero {
      margin-bottom: 87px;
    }
    .hero__container {
      padding-top: 140px;
      padding-bottom: 100px;
    }
    .hero__container::after { 
      bottom: -87px;
      right: calc(var(--offset-container) + 30px);
      max-width: 650px;
      max-height: 573px;
    }
    .hero__content {
      max-width: 600px;
    }
    .hero__title {
      font-size: 80px;
    }
    .hero__tagline {
      margin-bottom: 54px;
    }
  }